<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.forsrc.gcm">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.forsrc.gcm.myandroidgcm.permission.C2D_MESSAGE" />
    <permission android:name="com.forsrc.gcm.myandroidgcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.forsrc.gcm.myandroidgcm.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver android:name="com.forsrc.gcm.myandroidgcm.GcmWakefulBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.android.gcm.intent.RETRY" />
                <category android:name="com.forsrc.gcm.myandroidgcm" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.forsrc.gcm.myandroidgcm.GcmBroadcastReceiver">
            <intent-filter android:priority="1">
                <action android:name="com.forsrc.gcm.myandroidgcm.gcm"></action>
            </intent-filter>
        </receiver>


        <service android:name="com.forsrc.gcm.myandroidgcm.GcmIntentService" />

    </application>

</manifest>